<div aria-hidden="{{$parent.modalOpen}}">
  <div id="weather-shown">
    <div ng-show="vm.showWeather">
      <div id="weather-wrapper">
        <div class="weather-astronomy-wrapper col-12 col-t-12">
          <div class="weather-astronomy-left col-7 col-t-7">
            <div class="weather-title">
              <p>
                {{vm.weather.cityState}} {{vm.cachedZipCode}} <a ng-click="vm.resetZip()" tabIndex="{{$parent.tabIndex}}" ng-keypress="vm.spaceEnterReset($event)" focus-on="vm.showWeather && !vm.initialPageLoad"><small>[reset]</small></a><br/>
                Weather Station ID: {{vm.weather.station}}<br/>
                {{vm.weather.time}}
              </p>
            </div>
            <div id="weather-now">
              <p ng-show="vm.tempF">
                <img ng-src="{{vm.weather.weatherNowIcon}}" alt="{{vm.weather.weatherNow}}" title="{{vm.weather.weatherNow}}" class="weather-icon">
                <strong>{{vm.weather.tempNowF}}</strong>&nbsp;&nbsp;<sup>o</sup><b>F</b> | <sup>o</sup><a ng-click="vm.tempChange()" class="weather-temp-change" tabIndex="{{$parent.tabIndex}}" ng-keypress="vm.spaceEnter($event)" focus-on="vm.tempF && vm.tempChanged">C</a>
                <br/>
                <text ng-show="vm.weather.precipTodayInch">Precipitation: {{vm.weather.precipTodayInch}} inches.</text>
                <br/>
                Humidity: {{vm.weather.humidity}}
                <br/>
                Wind: {{vm.weather.windMph}} mph {{vm.weather.windDir}}
              </p>
              <p ng-show="!vm.tempF">
                <img ng-src="{{vm.weather.weatherNowIcon}}" alt="{{vm.weather.weatherNow}}" title="{{vm.weather.weatherNow}}" class="weather-icon"> <strong>{{vm.weather.tempNowC}}</strong>&nbsp;&nbsp;<sup>o</sup><a ng-click="vm.tempChange()" class="weather-temp-change" tabIndex="{{$parent.tabIndex}}" ng-keypress="vm.spaceEnter($event)" focus-on="!vm.tempF">F</a> | <sup>o</sup><b>C</b>
                <br/>
                <text ng-show="vm.weather.precipTodayMm">Precipitation: {{vm.weather.precipTodayMm}} millimeters.</text>
                <br/>
                Humidity: {{vm.weather.humidity}}
                <br/>
                Wind: {{vm.weather.windKph}} kph {{vm.weather.windDir}}
              </p>
            </div>
          </div>
          <div id="astronomy" class="col-6 col-t-5">
            <p>
              Sunrise: {{vm.weather.sunriseTime}}
              <br/>
              Sunset: {{vm.weather.sunsetTime}}
            </p>
            <p>
              Moonrise: {{vm.weather.moonriseTime}}
              <br/>
              Moonset: {{vm.weather.moonsetTime}}
            </p>
            <p>
              {{vm.weather.moonIllum}}% Illumination
              <br/>
              Phase: {{vm.weather.moonPhase}}
            </p>
          </div>
        </div>

        <div class="forecast-trademark-wrapper col-12 col-t-12">
          <div class="weather-forecast col-8 col-t-12">
            <ul ng-show="vm.tempF">
              <li ng-repeat="day in vm.weather.days">
                <p text-align="center">
                  {{day.name}}<br/>
                  <img ng-src="{{day.weatherIcon}}" alt="{{day.conditions}}" title="{{day.conditions}}"/><br/>
                  {{day.hiTempF}}<sup>o</sup>&nbsp;&nbsp;{{day.loTempF}}<sup>o</sup>
                </p>
              </li>
            </ul>
            <ul ng-show="!vm.tempF">
              <li ng-repeat="day in vm.weather.days">
                <p text-align="center">
                  {{day.name}}<br/>
                  <img ng-src="{{day.weatherIcon}}" alt="{{day.conditions}}" title="{{day.conditions}}"/><br/>
                  {{day.hiTempC}}<sup>o</sup>&nbsp;&nbsp;{{day.loTempC}}<sup>o</sup>
                </p>
              </li>
            </ul>

          </div>
          <div class="weather-trademark col-4 col-t-12">
            <a href="https://www.wunderground.com/" ng-if="$parent.device == 'mobile' && !$parent.modalOpen"><img ng-src="{{vm.wuHoriz}}" alt="Weather Underground" title="Weather Underground" class="mobile"></img></a>
            <a href="https://www.wunderground.com/" ng-if="$parent.device == 'tablet' && !$parent.modalOpen"><img ng-src="{{vm.wuHoriz}}" alt="Weather Underground" title="Weather Underground" class="tablet" ></img></a>
            <a href="https://www.wunderground.com/" ng-if="$parent.device == 'desktop' && !$parent.modalOpen"><img ng-src="{{vm.wuStacked}}" alt="Weather Underground" title="Weather Underground" class="desktop"></img></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="weather-input-wrapper">
    <div id="weather-input">
      <div ng-show="vm.showInput" class="weather-title">
        <p>Get your local weather forecast!</p>
        <form name="infoForm" ng-submit="vm.enterZipCode(infoForm)" novalidate>

          <input type="number" name="zip" size="9" class="no-spinners" ng-model="vm.userZipCode" min="1" max="100000000" ng-minlength="5" ng-maxlength="5" placeholder="Enter zip code" required aria-required="true" tabIndex="{{$parent.tabIndex}}" focus-on="vm.resetZipTrue">

          <button type="submit" tabIndex="{{$parent.tabIndex}}" ng-disabled="!infoForm.$valid"><small>Submit Zip</small></button>

          <div ng-messages="infoForm.$error" ng-if="infoForm.$dirty" role="alert" class="weather-error">
            <div ng-message="min">
              Please enter a positive number.
            </div>
            <div ng-message="minlength || maxlength">
              Incorrect number of zip code digits entered.
            </div>
            <div ng-message="required">
              Required!
            </div>
            <div ng-message="number">
              Please enter a number.
            </div>
          </div>
        </form>
      </div>
    </div>

    <div id="weather-invalid-zip">
      <div ng-show="vm.zipError &&(vm.zipValue == infoForm.zip.$modelValue)">
        <p>Please enter a valid US zip code.</p>
      </div>
    </div>
  </div>

</div>
