.modal-content {
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.modal-dialog {
  position: absolute;
  z-index:10000;
  width: 90%;
  top: 2.5%;
  left: 5%;
  background: #cccccc;
  transition: all 0.3s;
}

.modal-dialog-bottom {
  width: 100%;
  background: #000000;
  height: 25px;
}

.modal-overlay {
  z-index:9999;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: #000000;
  transition: all 0.3s;
}

.modal-close {
  position: absolute;
  top: 2px;
  right: 2px;
  padding: 2px;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
  margin: 0;
  font-size: 14px;
}
