sup {
  font-size: 9px;
}

a small {
  color: $error-text-color;
  cursor: pointer;
}

a:hover small {
  text-decoration: underline;
  font-weight: bold;
}


#weather-shown .ng-hide-remove {
  animation: 0.75s slideInLeft ease;
}

// Unintended effects, sadly
// #weather-shown .ng-hide-add {
//   animation: 0.25s lightSpeedOut ease;
// }

#weather-wrapper .ng-hide-remove {
  animation: 0.55s pulse ease;
}

#weather-input .ng-hide-add {
  animation: 0.25s lightSpeedOut ease;
}

#weather-input .ng-hide-remove {
  animation: 0.25s slideInLeft ease;
}

#weather-invalid-zip .ng-hide-add {
  animation: 0.25s lightSpeedOut ease;
}

#weather-invalid-zip .ng-hide-remove {
  animation: 0.5s pulse ease;
}

#weather-shown {
  overflow: hidden;
}

#weather-shown p {
  line-height: 1.5;
}

#weather-shown .weather-title p {
  margin-bottom: 0;
}

#weather-shown .weather-forecast p {
  text-align: center;
  margin-bottom: 0;
}

#weather-shown .weather-forecast ul {
  padding: 0;
  margin: 0;
}

#weather-shown .weather-forecast li {
  display: inline-block;
  list-style-type: none;
  padding: 3px;
  width: 22.5%;
}

#weather-now p {
  margin-bottom: 0;
  margin-top: 0;
}

#weather-input {
  overflow: hidden;
}

#weather-invalid-zip {
  text-align: center;
  font-size: 12px;
  color: $error-text-color;
  overflow: hidden;
}

.weather-input-wrapper {
  text-align: center;
}

.weather-error {
  font-size: 13px;
  color: $error-text-color;
}

.weather-astronomy-wrapper {
  overflow: hidden;
}

.weather-astronomy-left {
  // float: left;
}

.weather-title {
  padding: 0 7.5% 0 7.5%;
  text-align: center;
}

#weather-now {
  text-align: center;
  padding: 0 0 5% 0;
}

#weather-now a {
  color: $error-text-color;
}

#weather-now a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.weather-icon {
  position: relative;
  top: 14px;
}

.weather-temp-change {
  cursor: pointer;
}

#astronomy {
  text-align: center;
}

.forecast-trademark-wrapper {
  overflow: hidden;
}

.weather-forecast {
  padding: 0 7.5% 0 7.5%;
  text-align: center;
}

.weather-trademark .mobile {
  display: block;
  width: 250px;
  margin: auto;
  padding: 5% 0 5% 0;
}

.weather-trademark .tablet {
  display: none;
}

.weather-trademark .desktop {
  display: none;
}
