<!DOCTYPE html>
<html lang="en" ng-app="homepage" ng-strict-di>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans" rel="stylesheet">
    <title>homepage</title>

    <script type="text/ng-template" id="homepage.html">

      <div id="entry-loader">
        <div class="entry-loading" ng-show="entryShown">
          <div class="entry-loading-content col-8 col-t-8" ng-show="entryFade">
            <h2 class="entry-head">My Personal Homepage</h2>
            <p>This page shows the Astronomy Picture of the Day, as well as a recent picture of Earth taken by the EPIC satellite, in orbit at the Sun-Earth L<sub>1</sub> Lagrange point.</p>
            <p>Additionally, the page provides the local weather and astronomy forecast for all US zip codes, retrieved from Weather Underground's API.</p>
            <p>If you're curious about what time the moon rises and its illumination this evening, give the weather module a try!</p>
            <button ng-click="journeyOn()" class="btn">Journey Onward!</button>
            <button ng-click="toggleEntryMessage()" class="btn">Don't show this again</button>
          </div>
        </div>
      </div>

      <div class="search-bar search-bar-l search-bar-t col-12 col-t-12">
        <search-bar></search-bar>
      </div>
      <div class="epic epic-d epic-l epic-t col-6 col-t-6">
        <epic></epic>
      </div>
      <div class="apod apod-d apod-l apod-t col-6 col-t-6">
        <apod></apod>
      </div>
      <div class="weather weather-d weather-l weather-t col-12 col-t-12">
        <weather></weather>
      </div>

    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    </script>
  </head>


  <body ng-controller="appController" lazy-img-container>

    <ng-include src="'homepage.html'"></ng-include>

  </body>


</html>
