.epic-title {
  text-align: center;
  width: 100%;
  display: block;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 0;
  margin-right: 0;
  font-family: arial;
}

.epic-wrapper {
  width: 85%;
  margin: auto;
  display: block;
}

.epic-picture {
  max-width: 300px;
  max-height: 300px;
  margin: auto;
  width: 100%;
  height: auto;
  display: block;
}

.epic-modal-picture-wrapper {
  width: 85%;
  margin: auto;
  display: block;
}

.epic-picture-modal {
  max-width: 600px;
  max-height: 60%;
  margin: 10px auto 30px auto;
  width: 100%;
  height: auto;
  display: block;
}

.epic-video-modal {
  position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
  width: 85%;
  margin: auto;
}

.epic-video-modal iframe {
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.epic-description {
  margin: 10px auto 10px auto;
  font-size: 14px;
  font-family: arial;
}

.epic-copyright {
  margin: 10px auto 10px auto;
  font-size: 12px;
  float: right;
  font-family: arial;
}

.epic-modal-date {
  margin: 10px auto 10px auto;
  font-size: 14px;
  font-family: arial;
  text-align: center;
}
