* {
    box-sizing: border-box;
}

input, button {
  padding: 6px 10px;
  margin: 5px 0px;
}

small {
  font-size: 13px;
  color: #000000;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: $bg-color;
  overflow: auto;
  font-family: arial;
}

.search-bar {
  text-align: center;
  // width: 100%;
  // height: auto;
  border-top: 1px solid $border-color;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
}

.epic {
  float: left;
  // height: auto;
  border: 1px solid $border-color;
}

.apod {
  float: left;
  // height: auto;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
}

.weather {
  float: left;
  // height: auto;
  border-bottom: 1px solid $border-color;
  border-left: 1px solid $border-color;
  border-right: 1px solid $border-color;
}

button::-moz-focus-inner {
  margin: -1px;
  padding: 0;
  border: 0;
  border-width: 1px;
}

.no-spinners {
  -moz-appearance:textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
