* {
    box-sizing: border-box;
}

input, button {
  padding: 6px 10px;
  margin: 5px 0px;
}

small {
  font-size: 1em;
  color: grey;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #cccccc;
  overflow: auto;
}

.search-bar {
  text-align: center;
  width: 100%;
  min-height: 5%;
  border-bottom: 1px solid black;
}

.main-wrap {
  width: 100%;
  height: 95%;
  float: left;
  overflow: hidden;
}

.weather {
  float: left;
  height: 50%;
  overflow: hidden;
  border-bottom: 1px solid black;
}

.apod {
  float: left;
  height: 45%;
  border-bottom: 1px solid black;
}

.epic {
  float: left;
  height: 45%;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

button::-moz-focus-inner {
  margin: -1px;
  padding: 0;
  border: 0;
  border-width: 1px;
}

.no-spinners {
  -moz-appearance:textfield;
}

.no-spinners::-webkit-outer-spin-button,
.no-spinners::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
