#weather-shown .ng-hide-remove {
  animation: 0.75s slideInLeft ease;
}

#weather-shown p {
  line-height: 1.5;
}

#weather-now .ng-hide-remove {
  animation: 0.55s pulse ease;
}

#weather-input .ng-hide-add {
  animation: 0.25s lightSpeedOut ease;
}

#weather-input {
  overflow: hidden;
}

#weather-invalid-zip .ng-hide-add {
  animation: 0.25s lightSpeedOut ease;
}

#weather-invalid-zip .ng-hide-remove {
  animation: 0.5s pulse ease;
}

#weather-invalid-zip {
  text-align: center;
  font-size: 12px;
  color: $error-text-color;
  overflow: hidden;
}

.weather-error {
  font-size: 12px;
  color: $error-text-color;
}

.weather-title {
  // text-align: center;
  float: left;
  width: 100%;
  display: block;
  // margin: 12px 0 12px 0;
  padding: 0 16px 0 16px;
}

#weather-now {
  text-align: center;
  padding: 0 20px 20px 20px;
  float: left;
}

.weather-icon {
  position: relative;
  top: 14px;
}

.weather-temp-change {
  cursor: pointer;
}
