<div aria-hidden="{{$parent.modalOpen}}" class="apod-wrapper">
  <div class="apod-title"><h3>{{vm.title}}</h3></div>
  <div class="apod-picture-wrapper">
    <img class="apod-picture" ng-src="{{vm.apod.imgUrl}}" alt="Astronomy Picture of the Day" ng-click="vm.toggleApodModal()" ng-show="vm.apod.imgUrl && !vm.apod.invalidVideo" ng-keypress="vm.spaceEnter($event)" tabIndex="{{$parent.tabIndex}}"></img>

    <img class="apod-picture" ng-src="{{vm.apod.thumbUrl}}" alt="Astronomy Picture of the Day" ng-click="vm.toggleApodModal()" ng-show="vm.apod.thumbUrl && !vm.apod.invalidVideo" ng-keypress="vm.spaceEnter($event)" tabIndex="{{$parent.tabIndex}}"></img>

    <p class="apod-invalid-video" ng-show="vm.apod.invalidVideo">Today's APOD is actually a video from an untrusted source. Please check back tomorrow!</p>
  </div>
</div>
<apod-modal apod-modal-shown="vm.apodModalShown" apod-modal-focus="vm.apodModalFocus" apod-last-focus="vm.apodLastFocus" device="vm.device">
  <div class="apod-modal-date">{{vm.apod.date}}</div>

  <div class="apod-modal-picture-wrapper-wrapper">
    <div class="apod-modal-picture-wrapper">
      <img class="apod-picture-modal" ng-src="{{vm.apod.hdUrl}}" alt="Astronomy Picture of the Day" ng-show="vm.apod.imgUrl"></img>
      <div class="apod-description" ng-show="vm.apod.imgUrl">
        <p>{{vm.apod.explanation}}</p>
        <p ng-show="vm.apod.copyright">copyright: {{vm.apod.copyright}}</p>
      </div>
    </div>
  </div>

  <div class="apod-modal-picture-wrapper-wrapper">
    <div class="apod-modal-video-wrapper">
      <div class="apod-video-modal" ng-show="vm.apod.vidUrl">
        <iframe ng-src="{{vm.apod.vidUrl}}" allowfullscreen frameborder="0"></iframe>
        {{vm.apod.vidUrl}}
      </div>
      <div class="apod-description" ng-show="vm.apod.vidUrl">
        <p>{{vm.apod.explanation}}</p>
        <p ng-show="vm.apod.copyright">copyright: {{vm.apod.copyright}}</p>
      </div>
    </div>
  </div>

</apod-modal>
