<div>
  <div id="weather-shown">
    <div class="weather-title" ng-show="vm.showWeather">
      <p>Weather for {{vm.cachedZipCode}} zip code.</p>
      <p>Weather and stuff.</p>
      {{vm.weather}}

    </div>
  </div>

  <div>
    <div id="weather-input">
      <div ng-show="vm.showInput" class="weather-title">
        <p>Get your local weather forecast!</p>
        <form name="infoForm" ng-submit="vm.enterZipCode(infoForm)" novalidate>

          <input type="number" name="zip" size="9" class="no-spinners" ng-model="vm.userZipCode" min="1" max="100000000" ng-minlength="5" ng-maxlength="5" placeholder="Enter zip code" required aria-required="true" tabIndex="0">

          <button type="submit" tabIndex="0" ng-disabled="!infoForm.$valid"><small>Submit Zip</small></button>

          <div ng-messages="infoForm.$error" ng-if="infoForm.$dirty" role="alert" class="weather-error">
            <div ng-message="min">
              Please enter a positive number.
            </div>
            <div ng-message="minlength || maxlength">
              Incorrect number of zip code digits entered.
            </div>
            <div ng-message="required">
              Required!
            </div>
            <div ng-message="number">
              Please enter a number.
            </div>
          </div>
        </form>
      </div>
    </div>

    <div id="weather-invalid-zip">
      <div ng-show="vm.zipError &&(vm.zipValue == infoForm.zip.$modelValue)">
        <p>Please enter a valid US zip code.</p>
      </div>
    </div>
  </div>

</div>
